@model PRutCun.Models.Mapas
@{
    ViewData["Title"] = "Rutcun";
    Layout = "_LayoutDashboard";
}

<div class="contenedor">
    <p class="TextMap"> Mapa con Ruta</p>
    <div>
        <div class="form-floating">
            <form asp-action="Mapa" method="post">
                <select class="select2-placeholder-multiple form-control" asp-for="Fktransportes" asp-items="ViewBag.Transporte" style=" width:127px; height:44px; margin-left:47%; ">

                    <option value="">Selecciona</option>
                </select>
                <button id="btnEnviar" class="btn btn-success" type="submit"><i class="fa-solid fa-map-location-dot"></i> Enviar</button>
            </form>

        </div>

    </div>

    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6440.022025780086!2d-86.90698207013025!3d21.18230911162378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2c0162fb4071%3A0xc881c60dfcc845c!2sUniversidad%20Polit%C3%A9cnica%20de%20Quintana%20Roo!5e0!3m2!1ses-419!2smx!4v1670001821228!5m2!1ses-419!2smx" width="640" height="480"></iframe>
</div>