@model PRutCun.Models.Mapas
@{
    ViewData["Title"] = "Rutcun";
    Layout = "_LayoutDashboard";
}

<div class="contenedor">
    <div>
        <div class="contenerdor__combos">
            <a asp-action="Index" asp-controller="Home" id="btnVolver" class="Boton1">Volver</a>
        </div>

    </div>
    <iframe class="mapa" src="@Html.DisplayFor(x=>x.MapaUrl)" width="640" height="900"></iframe>
</div>