@{
    ViewData["Title"] = "Rutcun";
    Layout = "_LayoutDashboard";
}

<img class="Ayuda" src="~/imagenes/pagima alluda.png">
<br>
<br>
<br>
<div class="Info">
    <h1>Acotaciones </h1>
    <br>
    <h4>•1.1 Ruta rapida al inicio</h4>
    <h4>•1.2 Ruta directa para contactarnos</h4>
    <h4>•1.3 Ruta directa a la pajina de ayuda</h4>
    <h4>•2.1 Cuadro para seleccionar rutas disponibles</h4>
    <h4>•2.2 Rutas disponibles </h4>
    <h4>•2.3 Cuadro de informacion de la ruta </h4>
    <h4>•2.4 Mapa con la ruta seleccionada </h4>
    <h4>•2.5 Boton para seleccionar ruta </h4>
    <h4>•3.0 Creditos contactos y redes sociales </h4>
    <br></br>
    <br></br>
    <h2>Como usarlo</h2>
    <h4>•1. clicas el boton 2.1  </h4>
    <h4>•2. Seleccionas tu ruta deseada en el apartado 2.2</h4>
    <h4>•3. Precionas el boton 2.5 y visualisas tu ruta</h4>
</div>