@model PRutCun.Models.Trasporte
@{
    ViewData["Title"] = "borrar trasporte";
    Layout = "_LayoutCrud";
}
@*@<h1>@ViewData["Title"]</h1>@*@


<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Borrar</strong></h1>
            </div>

            <div class="card-body">

                <form asp-action="Borrar" method="post">
                    @*                    @id del usuario oculto@
*@                    <input type="hidden" asp-for="PkTrasporte" />
                    <h1><strong>Desea Borrar el transporte?</strong></h1>
                    <div class="container-fluid">
                        <a class="btn btn-danger" asp-controller="Trasporte" asp-action="Index">NO</a>
                        <button type="submit" class="btn btn-success">SI</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>