@model IEnumerable<PRutCun.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}



<head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="~/css/master.css">
</head>

    <div class="login-box">
        <img src="~/imagenes/logo.jpeg" class="avatar" alt="Avatar Image">
        <h1>Login</h1>

            <!-- USERNAME INPUT -->
            <label for="username">Usuario</label>
             <input type="text" placeholder="Ingrese su usuario" id="user">
            <!-- PASSWORD INPUT -->
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">
            <input type="submit" id="btnLogin" value="login">
            <a href="#">Lost your Password?</a><br>
            <a href="#">Don't have An account?</a>


    </div>
<script>
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            var user = $("#user").val();
            var password = $("#password").val();
            $.ajax({
                url: "/Login/LoginUser",
                type: "POST",
                data: {
                    "user": user,
                    "password": password
                },
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if (response.success == true) {
                        if (response.admin == true) {
                            window.location.href = "/Usuario/Index";
                        } else {
                            window.location.href = "/Home/Index";
                        }
                    } else {
                        window.location.href = "@Url.Action("Index", "Login")";
                    }
                },
                error: function () {
                    console.log('Login Fail!!!!!')
                }
            });



        });
    });
</script>