@{
    ViewData["Title"] = "Inicio Page";
   Layout = "_LayoutDashboard";
}

<div id="parallax-world-of-ugg">

    <section>
        <div class="title">
            <h3></h3>
            <a asp-controller="Home" asp-action="Index"><img class="Img" src="~/imagenes/logo.jpeg"></a>
            
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <h2>¿Quiénes Somos?</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character sc">S</span>omos un equipo de estudiantes a cargo de un proyecto con el único objetivo de ayudar al público en general</p>
            <br>
        </div>
    </section>


    <section>
        <div class="parallax-two">
            <h2>MISIÓN</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>
                <span class="first-character ny">M</span>ostrar información útil, accesible y fácil de entender por medio de una pagina web a un público general"</p>
        </div>
    </section>

    <section>
        <div class="parallax-three">
            <h2>VISIÓN</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>
                <span class="first-character atw">A</span>yudar a facilitar la movilidad a nuestro público general brindando una herramientafácil de entender y utilizar</p>
            <br>
            <br>
            <a asp-controller="Home" asp-action="Index" class="btn btn-1"><i class="fa-solid fa-map-location-dot"></i> IR A MAPA</a>
        </div>
    </section>

</div>
