@{
    ViewData["Title"] = "Inicio Page";
    Layout = "_LayoutDashboard";
}

<div class="contenedor">
</div>

<br></br>
<br></br>
<br></br>
<section class="">
    <img class="Title" src="~/imagenes/logo.jpeg"></img>
</section>

<div class="ContenedorTex">
    <div class="textoMision">
        <h1 class="Texto1"><strong>MISION</strong> </h1>
        <p class="Texto2">Nuestra mision es ser un medio en la cual se puedan conocer las rutas que tienen cada uno de los transportes publicos en la ciudad, para que se de deje de ver un desconocimiento general y turistico por donde pasa el transporte publico </p>
    </div>

    <div class="textoVision">
        <h1 class="Texto1"><strong>VISION</strong></h1>
        <p class="Texto2">Brindar informacion veridica de todos los transportes publicos de la ciudad, teniendo la informacion mas actual y disponible al alcance de todos lo que la necesiten y cuenten con un dispositivo con conectividad a internet</p>
    </div>
    <br>
    <br>
    <br>
</div>
<a class="btn btn-1" asp-controller="Home" asp-action="Index">IR A MAPA</a>
