
* {
    margin: 0;
    padding: 0;
}
/* .button {
    font-size: 30px;
    color: lightgray;
  } */
.button:hover {
    color: white;
}

.dummy_page {
    background-color: #EBB243;
    text-align: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-style: solid;
    margin-left: 40px;
    margin-right: 40px;
}

.Titulo {
    text-align: center;
    color: rgb(121, 0, 0);
    font-weight: bold;
    font-size: 40px;
}

.apartados {
    margin: 2% 1%;
    color: lightgray;
}

    .apartados:hover {
        color: white;
    }

nav {
    overflow: hidden;
    top: 0%;
    position: absolute;
    /* margin: 0 auto; */
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    /* font-size: 12%; */
    box-shadow: 0px 2px 15px 3px rgb(160, 160, 160);
    /* z-index: 5%; */
    height: 15%;
    margin: auto;
}

body {
    background-color: white;
}

nav .logo {
    padding: 10px 0px 10px 20px;
    width: 11%;
}



nav a {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 0px 20px 0px 25px;
    /* float: left ; */
}

/* nav a:hover {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(35, 37, 35);
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 0px 20px 20px 25px;
  } */


/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #000;
}

    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

        .footer .col h1 {
            margin: 0;
            margin-left: 40%;
            padding: 0;
            font-size: 12px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: white;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.250em;
        }

        .footer .col ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .footer .col ul li {
                color: #999999;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: rgb(255, 0, 0);
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

#btnVolver {
    margin-top: 5%;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
}

.mapa {
    z-index: 2022;
    float: none;
    width: 100%;
    margin-top: 2%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid black;
}

.Combo1 {
    margin-left: 47%;
    height: 45px;
    width: 10%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 0%);
    font-weight: bolder;
    color: white;
    padding: .2%;
}

.Combo2 {
    height: 45px;
    width: 13%;
    background-color: #2E3139;
    color: whitesmoke;
    font-weight: bolder;
    margin-left: 30px;
    border-radius: 10px;
    padding: .2%;
}

.text-rutas {
    right: auto;
}

.TextSel {
    color: black;
    margin-left: 28%;
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    z-index: -1;
}

.TextePun {
    color: black;
    margin-left: 22%;
    margin-top: -48%;
    font-weight: bold;
    font-size: x-large;
}

.textoInfo {
    height: 520px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 8px;
    border: 3px solid green;
    background-color: rgb(209, 230, 217);
    padding: 2%;
    box-sizing: border-box;
}

.imagen_Ayuda {
    width: 1000px;
    height: 550px;
}

.contenedor {
    width: 75%;
    margin: 0 auto;
    max-width: 2000px;
}

.contenedor__nav {
    text-align: center;
    /* margin: 0 5%; */
}

.contenedor__combos {
    text-align: center;
}

@media screen and (max-width: 800px) {

    .Combo1 {
        width: 10%;
    }

    .Combo2 {
        width: 15%;
    }

    .mapa {
        width: 70%;
    }

    .textoInfo {
        width: 70%;
    }

    .TextMap {
        color: black;
        font-family: Nexa;
        font-weight: bold;
        font-size: x-large;
        width: 40%;
        margin-left: 10%;
    }
}

.TextMap {
    color: black;
    margin-left: 40%;
    margin-top: 3%;
    font-weight: bold;
    font-size: xx-large;
}

logo {
    filter: invert(100%)
}


:root {
    --colorTextos: #ffffff67;
}



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    width: 100%;
    height: 650px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}


.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input, textarea {
    background: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

    input:focus, textarea:focus {
        outline: none;
        color: #000000;
    }

        input:focus ~ label,
        input:valid ~ label,
        textarea:focus ~ label, textarea:valid ~ label {
            position: absolute;
            top: -14px;
            font-size: 12px;
            color: #2196F3;
        }

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
    visibility: collapse;
}


input:focus ~ .barra::before, textarea:focus ~ .barra::before {
    width: 100%;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

    .barra::before {
        content: '';
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #6A82FB, #FC5C7D);
        transition: 0.3s ease all;
        left: 0%;
    }

button {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin: 5% 47%;
    cursor: pointer;
}


@media screen and (max-width:1100px) {
    form {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    form {
        width: 60%;
    }
}

@media screen and (max-width:450px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width:300px) {
    form {
        width: 90%;
    }
}

@font-face {
    font-family: 'Nexa';
    src: url('font-nexa/Nexa-Trial-Thin.ttf');
}

.apartados {
    margin: 2% 1%;
    color: lightgray;
}

    .apartados:hover {
        color: white;
    }

nav {
    overflow: hidden;
    top: 0%;
    position: inherit;
    /* margin: 0 auto; */
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    /* font-size: 12%; */
    box-shadow: 0px 2px 15px 3px rgb(160, 160, 160);
    /* z-index: 5%; */
    height: 15%;
    margin: auto;
}

    nav .logo {
        padding: 10px 0px 10px 20px;
        width: 11%;
    }

    nav a {
        font-size: 30px;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        line-height: 50px;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding: 0px 20px 0px 25px;
        /* float: left ; */
    }
